@charset "UTF-8";
@font-face {
	font-family: 'OpenSans'; src: url('../fonts/opensans/OpenSansR.eot');
		src: url('../fonts/opensans/OpenSansR.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans/OpenSansR.woff') format('woff'),
		url('../fonts/opensans/OpenSansR.ttf') format('truetype'),
		url('../fonts/opensans/OpenSansR.svg#OpenSansR') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans'; src: url('../fonts/opensans/OpenSansB.eot');
		src: url('../fonts/opensans/OpenSansB.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans/OpenSansB.woff') format('woff'),
		url('../fonts/opensans/OpenSansB.ttf') format('truetype'),
		url('../fonts/opensans/OpenSansB.svg#OpenSansR') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GOSTtypeA'; src: url('../fonts/gosttype/GOSTtypeA.eot');
		src: url('../fonts/gosttype/GOSTtypeA.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gosttype/GOSTtypeA.woff') format('woff'),
		url('../fonts/gosttype/GOSTtypeA.ttf') format('truetype'),
		url('../fonts/gosttype/GOSTtypeA.svg#OpenSansR') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GOSTtypeA'; src: url('../fonts/gosttype/GOSTtypeA_B.eot');
		src: url('../fonts/gosttype/GOSTtypeA_B.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gosttype/GOSTtypeA_B.woff') format('woff'),
		url('../fonts/gosttype/GOSTtypeA_B.ttf') format('truetype'),
		url('../fonts/gosttype/GOSTtypeA_B.svg#OpenSansR') format('svg');
	font-weight: bold;
	font-style: normal;
}