h1 .smaller{
    font-size: 68%;
}
h1 .smaller-2{
    font-size: 80%;
}
button .smaller{
    text-transform: lowercase;
}

.header .container{
    padding: 10px 15px;
}
.header [class*='col-']{
    margin-bottom: 0;
}
.header-logo{
    width: 100%;
    max-width: 250px;
}
.header-phone, .header-email{
    color: #055886;
    display: inline-block;
    margin-top: 12px;
    font-size: 20px;
}
.header-callback-btn{
    margin-top: 10px;
}


/* ------------------------------------------ OFFER ------------------------------------------ */

.offer{
    background: url(../img/bg-main.jpg);
}
.offer *{
    font-family: OpenSans, sans-serif;
}
.offer .container{
    padding: 20px 15px;
}
.offer [class*='col-']{
    margin-bottom: 0;
}
.offer-left{
    padding-top: 10px;
}
.offer h1, .offer .h1{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.offer h2, .offer .h2{
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    text-align: center;
}
.offer p{
    font-size: 20px;
    margin-bottom: 25px;
}
.offer .text-primary,
.offer .text-info, .offer .text-danger{
    font-weight: bold;
}
.offer-label-1{
    font-size: 35px;
}
.offer-label-2{
    font-size: 25px;
}
.offer .form-control{
    width: 100%;
    max-width: 300px;
}
.offer a.link{
    color: #575556;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
}
.offer a.link:hover{
    text-decoration: none;
}




@media(max-width: 767px){
    .offer img{
        height: auto;
    }
	.offer h1, .offer .h1{
    	text-align: center;
    }
    .offer h2, .offer .h2{
    	text-align: center;
    }
    .offer p{
    	text-align: center;
    }
    .offer-text{
        padding-left: 0;
        text-align: center;
    }
    .offer .form-control-2{
        display: inline;
        font-size: 13px;
        padding: 7px;
    }
    .offer .btn-danger{
        padding: 7px;
        font-size: 14px;
    }
    .offer img{
        max-width: 400px;
        width: 100%;
    }
    .offer-label-1{
        display: inline-block;
        margin-bottom: 10px;
    }

    .offer-2 h1, .offer-2 .h1{
        font-size: 25px;
    }
    .offer-2 h2, .offer-2 .h2{
        font-size: 25px;
    }
    .offer-2 p{
        
    }
    .offer-2 .offer-text{
        
    }
}
@media(min-width: 768px){
    .offer img{
        height: auto;
    }
    .offer-label-1{
        font-size: 20px;
        margin: 0 10px;
    }
    .offer-label-2{
        font-size: 15px;
        margin: 0 10px;
    }
    .offer h1, .offer .h1{
    	font-size: 19px;
    	margin-bottom: 10px;
    }
    .offer h2, .offer .h2{
    	font-size: 19px;
    	margin-bottom: 10px;
    }
    .offer p{
    	font-size: 15px;
    	margin-bottom: 10px;
    }
    .offer-text{
        padding-left: 45px;
    }
    .offer .btn-2{
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 25px;
    }
    .offer .form-control-2{
        font-size: 12px;
        padding: 5px;
        display: inline;
    }

    .offer-2 h1, .offer-2 .h1{
        font-size: 17px;
    }
    .offer-2 h2, .offer-2 .h2{
        font-size: 19px;
        margin-bottom: 16px;
    }
    .offer-2 p{
        font-size: 15px;
        margin-bottom: 13px;
    }
}
@media(min-width: 992px){
    .offer img{
        height: 360px;
    }
    .offer-label-1{
        font-size: 30px;
        margin: 0 20px;
    }
    .offer-label-2{
        font-size: 20px;
        margin: 0 20px;
    }
    .offer h1, .offer .h1{
    	font-size: 24px;
    	margin-bottom: 15px;
    }
    .offer h2, .offer .h2{
    	font-size: 24px;
    	margin-bottom: 30px;
    }
    .offer p{
    	font-size: 19px;
    	margin-bottom: 25px;
    }
    .offer-text{
        padding-left: 45px;
    }
    .offer .btn-2{
        font-size: 17px;
    }
    .offer .form-control-2{
        font-size: 17px;
        padding: 5px;
    }

    .offer-2 h1, .offer-2 .h1{
        font-size: 20px;
    }
    .offer-2 h2, .offer-2 .h2{
        font-size: 19px;
        margin-bottom: 5px;
    }
    .offer-2 p{
        font-size: 17px;
        margin-bottom: 22px;
    }
}
@media(min-width: 1200px){
    .offer img{
        height: 420px;
    }
    .offer-label-1{
        font-size: 35px;
        margin: 0 20px;
    }
    .offer-label-2{
        font-size: 25px;
        margin: 0 20px;
    }
    .offer h1, .offer .h1{
        font-size: 34px;
        text-transform: uppercase;
        line-height: 40px;
        letter-spacing: 2px;
        margin-bottom: 25px;
	}
	.offer h2, .offer .h2{
		font-size: 30px;
        font-weight: normal;
        margin-bottom: 30px;
	}
	.offer p{
		font-size: 20px;
		margin-bottom: 25px;
	}
    .offer-text{
        padding-left: 50px;
    }
	.offer .btn-2{
		font-size: 22px;
		border-radius: 30px;
	}
	.offer .form-control-2{
		font-size: 20px;
		padding: 6px;
	}

    .offer-2 h1, .offer-2 .h1{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .offer-2 h2, .offer-2 .h2{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .offer-2 p{
        font-size: 19px;
        margin-bottom: 25px;
    }
}
@media(min-width: 1470px){
    .offer img{
        height: 520px;
    }
	.offer-label-1{
		font-size: 45px;
		margin: 0 50px;
	}
	.offer-label-2{
		font-size: 25px;
		margin: 0 50px;
	}
    .offer h1, .offer .h1{
    	font-size: 37px;
    	margin-bottom: 25px;
    }
    .offer h2, .offer .h2{
    	font-size: 37px;
    	margin-bottom: 50px;
    }
    .offer p{
    	font-size: 27px;
    	margin-bottom: 40px;
    }
    .offer-text{
        padding-left: 65px;
    }
    .offer .container{
		padding: 30px 15px;
	}
	.offer .btn-2{
		font-size: 25px;
		border-radius: 30px;
	}
	.offer .form-control-2{
		font-size: 20px;
		padding: 9px;
	}
	.offer a.link{
		font-size: 25px;
	}

    .offer-2 h1, .offer-2 .h1{
        font-size: 28px;
        margin-bottom: 15px;
    }
    .offer-2 h2, .offer-2 .h2{
        font-size: 34px;
        margin-bottom: 30px;
    }
    .offer-2 p{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .offer-2 .offer-text{
        
    }
}


.advantage-container [class*='col-']{
    padding-left: 1px;
    padding-right: 1px;
}
.advantage{
    background-color: #fff;
    padding: 50px;
}
.advantage-title{
    font-weight: bold;
    margin-bottom: 5px;
}
.advantage-text{
    min-height: 170px;
}


.review{
    text-align: center;
}
.review a{
    display: inline-block;
    border: 2px solid #e0e0e0;
    box-shadow: 0px 0px 5px #a0a0a0;
    margin-bottom: 10px;
    transition: all .5s ease;
    padding: 1px;
}
.review a:hover{
    border: 2px solid #909090;
}
.review a img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}



.bg-triangle{
    background: url(../img/triangle.jpg);
    background-size: cover;
    background-position: bottom center;
    color: #fff;
}
.bg-gray{
    background: #eeeeee;
    color: #000;
}
footer{
    background: url(../img/bg-main.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}




a.item{
    color: #525869;
    display: block;
    text-align: center;
    transition: all .5s ease;
    position: relative;
}
a.item:hover .item-img-wrapper{
    border: 2px solid #909090;
}
a.item:hover .item-title{
    color: #055886;
    font-weight: bold;
}
.item-img-wrapper{
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    box-shadow: 0px 0px 5px #a0a0a0;
    margin-bottom: 10px;
    transition: all .5s ease;
    padding: 1px;
}
.item-img-wrapper img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.item-title{
    font-size: 21px;
    line-height: 23px;
    min-height: 50px;
    transition: all .5s ease;
    margin-bottom: 10px;
    text-decoration: underline;
}
.item-price{

}

.item-slide .item{
    box-shadow: none !important;
}
.item-flying-info{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 29%;
    left: 0px;
    color: #ffffff;
}
.item-flying-info-inner{
    margin: 0 auto;
    width: 100px;
}
.item-flying-info-top{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9px;
}
.item-flying-info-top br{
    display: block;
    content: " ";
    margin: -5px 0;
}
.item-flying-info-bottom{
    font-size: 15px;
    font-weight: bold;
}


.shopcart .form-control{
    font-size: 15px;
    padding: 7px;
}
.shopcart .chosen-container{
    font-size: 15px;
}
.shopcart .chosen-container-single .chosen-single{
    padding: 5px;
    height: 38px;
}
.shopcart .product-count-minus, .shopcart .product-count-plus{
    padding: 6px 0px 5px;
}
.shopcart label{
    font-size:  14px;
}
.shopcart .help-block{
    font-size: 15px;
}




footer .form-group{
    margin-bottom: 20px;
}
footer .form-control{
    border: 2px solid #e0e0e0;
    padding: 15px;
}
footer .form-control::placeholder{
    opacity: 1;
}
footer .form-control:-ms-input-placeholder{
    
}
footer .form-control::-ms-input-placeholder{
    
}
footer a{
    text-decoration: underline;
}
footer a:hover{
    text-decoration: none;
}


.chosen-container {
    width: 100% !important;
    font-size: 16px;
}
.chosen-container-single .chosen-single{
	background-image: none;
    border: 2px solid #e0e0e0;
    border-radius: 0;
    padding: 10px;
    height: 43px;
}
.chosen-container-single .chosen-single:hover{
	background-image: none;
}
.chosen-container-single .chosen-drop{
    border-radius: 0;
}
.chosen-container-single .chosen-single div{
	padding-top: 7px;
}
.chosen-container-single .chosen-single div b{
    background-size: 64px 40px !important;
}
.chosen-container-active.chosen-with-drop .chosen-single div b{
	background-size: 64px 40px !important;
	background-position: -22px 4px !important;
}
.chosen-container-active.chosen-with-drop .chosen-single{
	background-image: none;
}
.chosen-container-single .chosen-search{
    display: none;
}


.product-count-input{
	border-radius: 0;
    display: inline-block;
    width: 50px;
    text-align: center;
    padding: 9px 0 8px;
}
.product-count-minus, .product-count-plus{
    background-color: #01b4ff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 35px;
    padding: 7px 0px 8px;
    vertical-align: bottom;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.product-count-minus:hover, .product-count-plus:hover{
    background-color: #037db0;
}







.shopcart-tab{
    display: none;
}
.shopcart-tab.active{
    display: block;
}

.swiper-slide{
    padding: 0 45px !important;
}
.swiper-button-next, .swiper-button-prev{
    outline: none !important;
}




.site-index [class*='col-']{
    margin-bottom: 0;
}
.site-index .container{
    padding: 40px 15px 0;
}
.site-index .container-first{
    padding: 30px 15px 0;
}
.site-index .container-last{
    padding: 40px 15px 30px;
}


.complex-img-container{
    text-align: center;
    margin-bottom: 30px;
}
.complex-img{
    border: 2px solid #e0e0e0;
    display: inline-block;
    width: 35%;
    max-width: 205px;
}
.complex-img-arrow{
    display: inline-block;
    width: 10%;
    max-width: 100px;
}


.counter{
    font-size: 35px;
    text-align: center;
    background: #ff0000;
    display: inline-block;
    width: 60px;
    padding: 11px 0;
    border-radius: 30px;
    color: #ffffff;
}

.color-field{
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
.color-field-inner{
    width: 35px;
    height: 35px;
    border: 1px solid #e0e0e0;
}

.catalog-smennye-poduski .row-one [class*='col-']{
    margin-bottom: 10px !important;
}
.catalog-smennye-poduski .radio{
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
.catalog-smennye-poduski h6{
    margin-bottom: 5px !important;
}