/* ---------------------------------------------
                AUTOCLEAR
 --------------------------------------------- */
@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-5ths:nth-child(5n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-5ths:nth-child(5n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-5ths:nth-child(5n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-5ths:nth-child(5n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

/* ---------------------------------------------
                COL 5ths
 --------------------------------------------- */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-5ths{
    width: 20%;
    float: left;
}
@media (min-width: 768px){
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px){
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px){
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* ---------------------------------------------
                RESPONSIVE TEXT-ALIGN
 --------------------------------------------- */
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg{
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg{
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg{
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg{
    text-align: justify;
}
@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs{
        text-align: inherit;
    }
    .text-left-xs{
        text-align: left;
    }
    .text-center-xs{
        text-align: center;
    }
    .text-right-xs{
        text-align: right;
    }
    .text-justify-xs{
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm{
        text-align: inherit;
    }
    .text-left-sm{
        text-align: left;
    }
    .text-center-sm{
        text-align: center;
    }
    .text-right-sm{
        text-align: right;
    }
    .text-justify-sm{
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md{
        text-align: inherit;
    }
    .text-left-md{
        text-align: left;
    }
    .text-center-md{
        text-align: center;
    }
    .text-right-md{
        text-align: right;
    }
    .text-justify-md{
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg{
        text-align: inherit;
    }
    .text-left-lg{
        text-align: left;
    }
    .text-center-lg{
        text-align: center;
    }
    .text-right-lg{
        text-align: right;
    }
    .text-justify-lg{
        text-align: justify;
    }
}

/* ---------------------------------------------
            MARGIN AND PADDING HELPERS
 --------------------------------------------- */
.margin-b-0{ margin-bottom: 0 !important; }
.margin-b-10{ margin-bottom: 10px !important; }
.margin-b-20{ margin-bottom: 20px !important; }
.margin-b-30{ margin-bottom: 30px !important; }
.margin-b-40{ margin-bottom: 40px !important; }
.margin-b-50{ margin-bottom: 50px !important; }
.margin-b-60{ margin-bottom: 60px !important; }
.margin-b-70{ margin-bottom: 70px !important; }
.margin-b-80{ margin-bottom: 80px !important; }

.margin-t-0{ margin-top: 0 !important; }
.margin-t-10{ margin-top: 10px !important; }
.margin-t-20{ margin-top: 20px !important; }
.margin-t-30{ margin-top: 30px !important; }
.margin-t-40{ margin-top: 40px !important; }
.margin-t-50{ margin-top: 50px !important; }
.margin-t-60{ margin-top: 60px !important; }
.margin-t-70{ margin-top: 70px !important; }
.margin-t-80{ margin-top: 80px !important; }

.margin-r-0{ margin-right: 0 !important; }
.margin-r-10{ margin-right: 10px !important; }
.margin-r-20{ margin-right: 20px !important; }
.margin-r-30{ margin-right: 30px !important; }
.margin-r-40{ margin-right: 40px !important; }
.margin-r-50{ margin-right: 50px !important; }
.margin-r-60{ margin-right: 60px !important; }
.margin-r-70{ margin-right: 70px !important; }
.margin-r-80{ margin-right: 80px !important; }

.margin-l-0{ margin-left: 0 !important; }
.margin-l-10{ margin-left: 10px !important; }
.margin-l-20{ margin-left: 20px !important; }
.margin-l-30{ margin-left: 30px !important; }
.margin-l-40{ margin-left: 40px !important; }
.margin-l-50{ margin-left: 50px !important; }
.margin-l-60{ margin-left: 60px !important; }
.margin-l-70{ margin-left: 70px !important; }
.margin-l-80{ margin-left: 80px !important; }

.padding-t-0{ padding-top: 0 !important; }
.padding-t-10{ padding-top: 10px !important; }
.padding-t-20{ padding-top: 20px !important; }
.padding-t-30{ padding-top: 30px !important; }
.padding-t-40{ padding-top: 40px !important; }
.padding-t-50{ padding-top: 50px !important; }
.padding-t-60{ padding-top: 60px !important; }
.padding-t-70{ padding-top: 70px !important; }
.padding-t-80{ padding-top: 80px !important; }

/* ---------------------------------------------
            THEME SETTINGS
 --------------------------------------------- */
body{
    color: #575556;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
}

a{
    color: #055886;
    text-decoration: none;
    transition: all .5s ease;
}
a:hover{
    text-decoration: none;
    color: #00a9fd;
}
a:active, a:focus, a:active:focus{
    text-decoration: none;
    outline: none;
}


textarea{
    resize: none;
    min-height: 100px;
}

label{
    font-size: 16px;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
}


h1, h2, h3, h4, h5, h6{
    color: #055886;
    font-family: OpenSans, sans-serif;
    font-weight: normal;
    margin: 0 0 30px;
    text-transform: uppercase;
}
.h1, h1 {
    font-size: 34px;
}
.h2, h2 {
    font-size: 29px;
}
.h3, h3 {
    font-size: 24px;
}
.h4, h4 {
    font-size: 21px;
}
.h5, h5 {
    font-size: 18px;
}
.h6, h6 {
    font-size: 15px;
}


.bg-triangle h1, .bg-triangle .h1,
.bg-triangle h2, .bg-triangle .h2,
.bg-triangle h3, .bg-triangle .h3,
.bg-triangle h4, .bg-triangle .h4,
.bg-triangle h5, .bg-triangle .h5,
.bg-triangle h6, .bg-triangle .h6{
    color: #ffffff;
}


.btn{
    border-radius: 0;
    transition: all .5s ease;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 15px;
}
button,
input[type="button"],
input[type="submit"],
.btn:focus,
.btn:active:focus,
.btn.active:focus{
    outline: none;
}
.btn-lg{
    font-size: 20px;
    padding: 13px 20px;
}
.btn-sm{
    padding: 5px 12px;
    font-size: 13px;
}
.btn-2{
    font-family: OpenSans, sans-serif;
    border-radius: 20px;
    padding: 6px 20px;
}
.btn-primary{
    background-color: #055886;
    border-color: #055886;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus{
    background-color: #02354e;
    border-color: #02354e;
}
.btn-info{
    background-color: #01b4ff;
    border-color: #01b4ff;
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:focus{
    background-color: #037db0;
    border-color: #037db0;
}
.btn-success{
    background-color: #04B486;
    border-color: #04B486;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:active:focus{
    background-color: #0B614B;
    border-color: #0B614B;
}
.btn-default{
    background-color: transparent;
    font-weight: normal;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:focus{
    background-color: #fff;
}
.btn-danger{
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:active:focus{
    background-color: #990000;
    border-color: #990000;
}
.btn-link{
    color: #575556;
    font-size: 21px;
    font-weight: normal;
    line-height: 23px;
    transition: all .5s ease;
    margin-bottom: 10px;
    text-decoration: underline;
    text-transform: none;
    padding: 0;
}
.btn-link:hover{
    color: #055886;
    font-weight: bold;
}
.btn-link.btn-lg{
    padding: 0;
    font-size: 25px;
}


.form-control{
    height: auto;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 10px;
    border: 2px solid #e0e0e0;
    font-size: 16px;
}
.form-control-2{
    border-radius: 25px;
    text-align: center;
}

[class*='col-']{
    margin-bottom: 30px;
}



.container{
    max-width: 100%;
    padding: 30px 15px;
}
@media(min-width: 768px){
    .container{
        width: 760px;
    }
}
@media(min-width: 992px){
    .container{
    	width: 970px;
    }
}
@media(min-width: 1200px){
    .container{
    	width: 1170px;
    }
}
@media(min-width: 1470px){
    .container{
    	width: 1440px;
    }
}

.text-primary{
    color: #055886;
}
.text-info{
    color: #00b4ff;
}
.text-danger{
    color: #ff0000;
}

.label{
    border-radius: 25px;
}
.label-primary{
    background-color: #055886;
}
.label-info{
    background-color: #00b4ff;
}

.breadcrumb{
    background-color: transparent;
    margin-bottom: 10px;
}
.breadcrumb li > a{
    color: #575556;
}
.breadcrumb > li + li:before{
    color: #575556;
    content: "> ";
}
.breadcrumb > .active{
    color: #575556;
}

.navbar-fixed-top{
    background-color: #fff;
    border-bottom: 4px solid #e0e0e0;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination > li > a, .pagination > li > span{
    color: #055886;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
    background-color: #055886;
}